// :root {
//   --sec-btm-indent: 200px;
//   --elem-btm-margin: 100px;
// }

.main {
  &-about {
    padding-bottom: var(--sec-btm-indent);
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    @include baseGridStyle(auto, repeat(auto-fill, minmax(60px, 1fr)));
    // padding-left: var(--lr-paddings);
    // padding-right: var(--lr-paddings);
    @include tablet {
      display: flex;
      flex-direction: column;
    }

    .breadcrumbs {
      grid-column: 1 / -1;
    }
  }
}

.about {
  &__content {
    grid-column: 1 / -1;
  }

  &-section-content {
    // padding: 0 var(--lr-paddings);

    &:not(:first-child):not(:last-child) {
      // margin-bottom: var(--sec-btm-indent);
      padding-bottom: var(--sec-btm-indent);
      @include mobile {
      }
    }
  }

  &-headers {
    @include setFontStyle('Cormorant Garamond', 100px, 400, $headers-color, 100%);
    @include tablet {
      font-size: 62px;
    }
    @include mobile {
      font-size: 30px;
    }
  }

  &__header {
    text-align: center;
    margin-bottom: 60px;
    grid-column: 1 / -1;
    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__main-img {
    @include setImgWidth(100%);
    margin-bottom: var(--elem-btm-margin);
    grid-column: 1 / -1;
    @include tablet {
      margin-bottom: 40px;
    }
  }
}

.philosophy {
  @include baseGridStyle(repeat(3, auto), repeat(auto-fill, minmax(60px, 1fr)));
  @include tabletLarge {
    grid-template: repeat(3, auto) / repeat(auto-fill, minmax(40px, 1fr));
  }
  @include tablet {
    display: flex;
    flex-direction: column;
  }

  &__header {
    // grid-column: 1 / 3;
    grid-column: 1 / 13;
    margin-bottom: var(--elem-btm-margin);
    @include tablet {
      order: 1;
    }
    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__right-text {
    // &-wrapper {
    //   grid-row-start: 2;
    //   grid-column: 13 / -1;
    //   @include setFontStyle('Mont', 20px, 500, $dark-grey, 130%);
    //   @include baseFlexStyle($justify-content: space-between);
    // }
    // grid-row-start: 2;
    // @include setFontStyle('Mont', 20px, 500, $dark-grey, 130%);
    // margin-bottom: 150px;
    @include setFontStyle('Mont', 20px, 500, $dark-grey, 130%);
    margin-bottom: 150px;
    @include tabletLarge {
      margin-bottom: 100px;
    }
    @include tablet {
      margin-bottom: 40px;
      font-size: 15px;
      text-transform: uppercase;
      order: 2;
    }
    @include mobile {
      margin-bottom: 20px;
      font-size: 12px;
    }

    &_left {
      grid-row-start: 2;
      grid-column: 13 / 20;
      // margin-right: 60px;
    }

    &_right {
      // grid-column-start: 4;
      grid-row-start: 2;
      grid-column: 21 / -1;
    }
  }

  &__left-text,
  &__img {
    grid-row-start: 3;
  }

  &__left-text {
    @include setFontStyle('Mont', 16px, 500, $text-color, 160%, $text-transform: none);
    grid-column: 1 / 10;
    @include tablet {
      order: 4;
      font-size: 15px;
    }
    @include mobile {
      font-size: 12px;
      // margin-bottom: 20px;
      // font-size: 12px;
      // text-transform: uppercase;
    }
  }

  &__img {
    // grid-column-start: 3;
    // grid-column-end: 5;
    grid-column: 13 / -1;
    @include setImgWidth(100%);
    @include tablet {
      margin-top: 30px;
      margin-bottom: 30px;
      order: 3;
    }
    @include mobile {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.describe {
  // @include baseGridStyle(repeat(auto-fill, auto), 520px auto 520px auto);
  // @include baseGridStyle(repeat(4, auto), repeat(2, 520px auto));
  // @include baseGridStyle(repeat(4, auto), 520px calc(auto - 520px) 520px 1fr);
  // row-gap: var(--elem-btm-margin);
  // @include baseGridStyle(repeat(5, auto), repeat(auto-fill, minmax(60px, 1fr)));
  position: relative;
  // @include baseGridStyle(repeat(4, auto), repeat(auto-fill, minmax(60px, 1fr)));
  // @include baseGridStyle(
  //   repeat(2, auto) 150px calc(532px - 150px) 150px,
  //   repeat(auto-fill, minmax(60px, 1fr))
  // );
  @include baseGridStyle(
    repeat(2, auto) 80px calc(532px - 150px) 150px auto 200px,
    repeat(auto-fill, minmax(60px, 1fr))
  );
  background: linear-gradient(0.5deg, #4a3a5e 47%, $light-grey 47%);
  @include tabletLarge {
    @include baseGridStyle(
      repeat(2, auto) 80px calc(532px - 150px) 120px auto 100px,
      repeat(auto-fill, minmax(40px, 1fr))
    );
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #4a3a5e 70%, transparent 50%);
    padding: 0 40px 80px 40px;
    margin-bottom: -2px;
  }
  @include mobile {
    padding: 0 15px 60px 15px;
    background: linear-gradient(0.5deg, #4a3a5e 70%, transparent 50%);
  }
  // @include baseGridStyle(repeat(2, auto) 150px auto 150px, repeat(auto-fill, minmax(60px, 1fr)));
  // margin-bottom: var(--sec-btm-indent);

  &__header {
    // grid-column: 1 / 13;
    // grid-column: 1 / 14;
    grid-column: 3 / 16;
    margin-bottom: var(--elem-btm-margin);
  }

  &__right-text {
    grid-row-start: 2;
    grid-column: 15 / 23;
    @include setFontStyle('Mont', 20px, 500, $dark-grey, 130%);
    margin-bottom: var(--elem-btm-margin);
    @include tabletLarge {
      grid-column: 15 / 26;
    }
    @include tablet {
      font-size: 15px;
    }
    @include mobile {
      font-size: 12px;
    }
  }

  &__img {
    // @include setImgWidth(955px);.
    // @include setImgWidth(100%);
    // height: 532px;
    // @include setImgHeight(530px);
    @include width-heigth(100%, 530px);
    object-fit: cover;
    @include tabletLarge {
      height: 450px;
    }
    @include tablet {
      height: 300px;
    }
    @include mobile {
      height: 183px;
    }

    &_left {
      grid-column: 3 / 19;
      // grid-column-start: 1;
      grid-row: 3 / 4;
      // max-width: 100%;
      // height: auto;
      // @include setImgMaxWidth(100%);
      // @include setImgWidth(100%);
      @include tabletLarge {
        grid-column: 3 / 22;
      }
    }

    &_right {
      // grid-column: 14 / -1;
      grid-column: 15 / -3;
      // grid-row-start: 3;
      grid-row-start: 4;
      // position: relative;
      // margin-top: 150px;
      // transform: translateY(150px);

      // position: absolute;
      // top: 150px;
      // @include setImgWidth(100%);
      // @include setImgMaxWidth(100%);
      @include tabletLarge {
        grid-column: 16 / -3;
      }
    }
  }

  &__figcaption {
    @include setFontStyle('Mont', 16px, 500, $white-color, 160%, $text-transform: none);
    // background-color: $dark-violet;
    margin-top: 30px;
    @include tabletLarge {
      margin-top: 0;
    }
    @include tablet {
      font-size: 15px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    @include mobile {
      font-size: 12px;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    &_left {
      // grid-column-start: 1;
      grid-column: 3 / 11;
      grid-row-start: 5;
      // position: absolute;
      // top: -150px;
    }

    &_right {
      // grid-column-start: 14;
      grid-column: 15 / 23;
      grid-row-start: 6;
      // position: relative;
      // transform: translateY(150px);
      // grid-row-end: -1;
      // grid-row-start: 4;
      @include tabletLarge {
        grid-column: 16 / 23;
      }
      @include tablet {
        margin-bottom: 0;
      }
    }
  }

  &__background {
    background-color: $dark-violet;
    grid-column: 1 / -1;
    // grid-row: 4 / 7;
    grid-row: 4 / 8;
    position: relative;
    z-index: -1;
    top: 131px;
    height: 100%;
  }
}

.advantages {
  background-color: $dark-violet;
  // padding-bottom: var(--sec-btm-indent);
  margin-bottom: var(--sec-btm-indent);
  padding: 0 120px;
  @include tabletLarge {
    padding: 0 80px;
  }
  @include tablet {
    padding: 0 40px;
    margin-bottom: 0;
  }
  @include mobile {
    padding: 0 15px;
  }

  &__header {
    text-align: center;
    margin-bottom: var(--elem-btm-margin);
    color: $light-grey;
    @include tablet {
      text-align: left;
    }
  }

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    @include tablet {
      width: 80%;
      height: 100px;
    }
  }
  &__content-right {
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: -35px;
    @include tabletLarge {
      width: 61%;
    }
    @include tablet {
      width: 100%;
      flex-direction: row;
    }
  }

  &__text {
    @include setFontStyle('Mont', 20px, 500, $light-grey, 130%);
    // grid-column: 1 / 9;
    grid-column: 3 / 10;
    @include tabletLarge {
      grid-column: 3 / 12;
    }
    @include tablet {
      font-size: 15px;
      order: 1;
      margin-bottom: 40px;
    }
    @include mobile {
      font-size: 12px;
      margin-bottom: 30px;
    }
  }

  &__main-slide-img {
    // @include setImgWidth(100%);
    @include width-heigth(100%);
    object-fit: cover;
    // grid-column: 13 / 22;
    grid-column: 15 / 31;
    grid-row: 1 / 4;
    @include tablet {
      order: 2;
      width: 80%;
    }
  }

  &__slide-img {
    // @include setImgWidth(100%);
    @include width-heigth(100%);
    object-fit: cover;
  }

  &__btn-wrapper {
    @include baseFlexStyle(center);
    align-self: flex-start;
    margin-bottom: 50px;
    @include tablet {
      display: none;
    }

    @include tablet {
      order: 3;
      flex-direction: column;
      width: 20%;
      align-self: flex-start;
    }
  }
  &__btn-wrapper-mobile {
    display: none;

    @include tabletLarge {
      display: none;
    }
    @include tablet {
      @include baseFlexStyle(center);
      align-self: flex-start;
      margin-bottom: 50px;
    }

    @include tablet {
      order: 3;
      flex-direction: column;
      width: 20%;
      align-self: flex-start;
    }
  }

  &__btn {
    @include slideBtns($background: $grey-link-btn);
    @include width-heigth(70px);
    @include mobile {
      height: 45px;
      width: 45px;
    }
    @media screen and (min-width: 1025px) {
      transition: 0.25s ease-out;
      img {
        transition: 0.25s ease-out;
      }
      &:hover {
        background-color: $white-color;
        img {
          filter: brightness(0);
        }
      }
    }
  }

  &__btn-img {
    @include width-heigth(6px, 12px);
  }

  &__slide-num {
    @include setFontStyle('Mont', 22px, 500, $light-grey, 100%);
    margin: 0 40px;
    @include tablet {
      font-size: 15px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    @include mobile {
      font-size: 12px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  &__nav-wrapper {
    width: 47.5%;
    height: 2px;
    margin-top: 40px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.15);

    @include tablet {
      display: none;
    }
    .swiper-pagination-progressbar-fill {
      background: $white-color !important;
    }
  }

  &__nav-line {
    @include width-heigth(142px, 100%);
    background-color: $light-grey;
  }
}

.infra {
  @include baseGridStyle(auto, repeat(auto-fill, minmax(60px, 1fr)));
  margin-bottom: 150px;
  @include tabletLarge {
    grid-template: auto/repeat(auto-fill, minmax(40px, 1fr));
    margin-bottom: 120px;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin-bottom: 0;
    padding-bottom: 80px;
  }
  @include mobile {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__header {
    grid-column: 1 / -1;
    margin-bottom: var(--elem-btm-margin);
  }

  &__right-text {
    @include setFontStyle('Mont', 20px, 500, $dark-grey, 130%);
    margin-bottom: var(--elem-btm-margin);
    @include tablet {
      font-size: 15px;
    }
    @include mobile {
      font-size: 12px;
    }

    &_left {
      grid-column: 13 / 21;
    }

    &_right {
      grid-column: 22 / -1;
      @include tablet {
        margin-bottom: 60px;
      }
      @include mobile {
        margin-bottom: 40px;
      }
    }
  }

  &__map-wrapper {
    grid-column: 1 / -1;
    height: 755px;
    margin-bottom: 150px;
    position: relative;
    @include tablet {
      margin-bottom: 60px;
    }
    @include mobile {
      margin-bottom: 40px;
    }
    #map,
    .map,
    iframe {
      @include width-heigth(100%);
      vertical-align: middle;
    }
  }

  &__map-icons {
    &-list {
      position: absolute;
      top: 50%;
      left: 100px;
      transform: translateY(-50%);
      background-color: $light-grey;
      width: 320px;
      z-index: 5;
      max-height: 50vh;
      overflow-y: auto;
      overflow-x: hidden;
      li:first-child {
        position: sticky;
        top: 0;
      }
      @include mobile {
        width: 100%;
        left: 0;
        top: auto;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: hidden;
        bottom: 0;
        transform: none;
      }
    }

    &-element {
      border: 1px solid rgba(74, 58, 94, 0.15);
      cursor: pointer;
      padding: 20px 0 20px 40px;
      @include multiple-transitions(0.3s, ease-in-out, padding-left, background-color);
      display: flex;
      align-items: center;
      img {
        width: 23px;
        height: 20px;
        object-fit: contain;
        margin-right: 20px;
      }
      &:hover,
      &.active {
        background-color: $lavander;
        padding-left: 60px;

        .infra__map-icons-text {
          color: $light-grey;
          &::before {
            background-image: url('../images/about/white-horse.svg');
          }
        }
      }

      &--mobile {
        @include from(576px) {
          display: none;
        }
        padding-left: 30px;
        display: flex;
        align-items: center;
        svg {
          margin-left: 10px;
          transform-origin: center;
          transform-box: fill-box;
        }
        span::before {
          display: none;
        }
        background-color: $dark-violet;
        span {
          color: $white-color;
        }
      }
    }
    &-list[data-opened='false'] .infra__map-icons-element--mobile {
      svg {
        transform: rotate(180deg);
      }
    }
    &-text {
      @include setFontStyle('Gilroy', 18px, 400, $dark-grey, 100%, 0.01em, none);
      @include baseFlexStyle(center);
      transition: color 0.3s ease-in-out;

      &::before {
        @include after-before-img('../images/about/horse.svg', 23px, 20px);
        margin-right: 20px;
        transition: background-image 0.3s ease-in-out;
        display: none;
      }
    }
  }

  // &__list {
  //   grid-row-start: 5;
  // }

  &__bottom-text-content {
    grid-column: 1 / 11;
  }

  &__subheader {
    @include setFontStyle('Mont', 20px, 500, $dark-grey, 130%);
    margin-bottom: 40px;
    @include tablet {
      font-size: 15px;
      margin-bottom: 30px;
    }
    @include mobile {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }

  &__list {
    // list-style-position: inside;
    position: relative;
    transform: translateX(20px);
    @include tablet {
      padding-bottom: 40px;
      padding-right: 80px;
    }
    @include mobile {
      padding-bottom: 20px;
      padding-right: 50px;
    }
  }

  &__element {
    list-style-type: disc;
    // list-style-position: inside;
    @include setFontStyle('Mont', 16px, 500, $text-color, 160%, $text-transform: none);
    color: $text-color;
    @include tablet {
      font-size: 15px;
    }
    @include mobile {
      font-size: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
      @include mobile {
        margin-bottom: 10px;
      }
    }

    // &::before {
    //   --dot-size: 10px;
    //   content: '';
    //   display: inline-block;
    //   @include width-heigth(var(--dot-size));
    //   background-size: var(--dot-size) var(--dot-size);
    //   background-color: $text-color;
    //   border-radius: 50%;
    // }

    // &::marker {
    //   margin-left: 0 !important;
    // }
  }

  &__img {
    grid-column: 13 / -1;
    @include setImgWidth(100%);
  }
}

.charact {
  &__header {
    text-align: center;
    margin-bottom: var(--elem-btm-margin);
    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__content {
    @include baseFlexStyle(flex-end, space-between);
    margin-bottom: 150px;
    @include tabletLarge {
      margin-bottom: 120px;
    }
    @include tablet {
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
    }
    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__figure {
    @include baseFlexStyle(center, $flex-direction: column);
    max-width: 330px;
    @include tablet {
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
    @include mobile {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  &__img {
    @include width-heigth(50px);
    object-fit: cover;
    margin-bottom: 30px;
    @include mobile {
      margin-bottom: 20px;
      width: 40px;
      height: 40px;
    }

    &_conditioner {
      height: 42px;
      @include mobile {
        height: 33px;
      }
    }
  }

  &__figcaption {
    text-align: center;
    @include setFontStyle('Mont', 16px, 400, $text-color, 160%, $text-transform: none);
    @include tablet {
      font-size: 15px;
    }
    @include mobile {
      font-size: 12px;
    }
  }

  &__btn {
    &-wrapper {
      @include baseFlexStyle($justify-content: center);
    }

    &-link {
      transition: 0.25s ease-out;
      @include link-btns(270px, 70px, $dark-violet, 14px, $font-weight: 400);
      @include tablet {
        width: 220px;
        height: 60px;
        font-size: 12px;
      }
      @include mobile {
        width: 170px;
        height: 45px;
        font-size: 10px;
      }
      @media screen and (min-width: 1025px) {
        &:hover {
          background-color: $light-lavander;
        }
      }
    }
  }
}

.about {
  @include from(1025px) {
    .swiper-wrapper {
      transition-timing-function: ease-out;
    }
  }
  &-slider {
    overflow: hidden;
    .swiper-slide {
      transition: all ease-out 1.25s;
    }
    .swiper-slide-active {
      transform: scale(1);
      transition: all ease-out 1.25s;
    }
    .swiper-slide-duplicate-prev,
    .swiper-slide-duplicate-next,
    .swiper-slide-prev,
    .swiper-slide-next {
      transform: scale(0.85);
      transition: all ease-out 1.25s;
      transform-origin: 25% 50%;
      @include tablet {
        transform: scale(1);
      }
    }
    img {
      width: 100%;
      height: 625px;
      object-fit: cover;
      @include tabletLarge {
        height: 500px;
      }
      @include tablet {
        height: 400px;
      }
      @include mobile {
        height: 320px;
      }
    }
  }
}
@keyframes sliderText {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.about {
  &-text-slider {
    overflow: hidden;
    width: 100%;
    .swiper-slide-active {
      > .advantages__text {
        // animation: sliderText 1.5s;
      }
    }
    @include tablet {
      pointer-events: none;
    }
  }
}
