:root {
  // Indents
  --lr-paddings: 120px; // lr - left-right
  --btm-padding: 150px; // btm - bottom padding
  --top-padding: 50px;
  --sec-btm-indent: 200px;
  --elem-btm-margin: 100px;
  --popular-indent: 60px;
  @include tabletLarge {
    --lr-paddings: 80px;
    --elem-btm-margin: 60px;
    --sec-btm-indent: 120px;
  }
  @include notebook {
    --lr-paddings: 40px;
  }
  @include tablet {
    --lr-paddings: 40px;
    --elem-btm-margin: 40px;
    --sec-btm-indent: 80px;
    --popular-indent: 40px;
    --btm-padding: 80px;
  }
  @include mobile {
    --lr-paddings: 15px;
    --btm-padding: 60px;
    --popular-indent: 40px;
    --sec-btm-indent: 60px;
    --elem-btm-margin: 20px;
  }
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

@include reset();

.debug {
  z-index: 999999;
  @include debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
}

.container {
  @include wrapper();
}

html {
  font-size: 14px;
  scrollbar-width: none; // for Firefox 64 and above disabled scroll
  -webkit-font-smoothing: antialiased;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}
body {
  margin: 0;
  min-width: 320px;
  font-family: $default-font;
  font-weight: 600;
  overflow-x: hidden;
  font-size: 14px;
  background-color: #f9f8fc;

  &.disabled-scroll {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
// .page__inner {
//   @include to(576px){
//     overflow-x: hidden
//   }
// }
a {
  @include resetLinkStyles;
}

button {
  @include resetBtnStyles;
}

img {
  vertical-align: middle;
}

// ::-webkit-scrollbar {
//   display: none;
// }

.loader-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease-out;
  svg {
    animation: loaderLogo 1.5s ease-out 1;
  }
}
@keyframes loaderLogo {
  from {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}

.desktop-hide {
  @include from(576px) {
    display: none;
  }
}
.hide-on-mobile {
  @include to(575px) {
    display: none !important;
  }
}
