:root {
  --btn-link-width: 270px;
  --btn-link-height: 70px;
  --btn-link-font-size: 14px;
  --headers-margin-bottom: 30px;
  --menu-call-block-max-width: 857px;

  @include mobile {
    --headers-margin-bottom: 20px;
  }
}

.page {
  // &__inner {
  //   @include baseFlexStyle($flex-direction: column);
  // }

  &__content {
    min-height: 100vh;
  }
}

.main {
  --top-padding: 50px;
  padding: calc(var(--header-height) + var(--top-padding)) 0 var(--btm-padding);
  padding-bottom: 0;
  &-home {
    --top-padding: 0px;
    @include to(575px) {
      padding-bottom: 0;
    }
  }
}

.headers {
  @include setFontStyle('Cormorant Garamond', 62px, 300, $headers-color, 100%, 0.01em);

  @include tabletLarge {
    font-size: 50px;
  }
  @include mobile {
    font-size: 30px;
  }
}

.section-text {
  font-size: 16px;
  line-height: 170%;
  color: $text-color;
  font-weight: 300;
  @include tablet {
    font-size: 14px;
  }
  @include mobile {
    font-size: 12px;
  }
}

.card {
  // width: 520px;
  @include baseFlexStyle(stretch, $flex-direction: column);
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;

  // & > * {
  //   flex-grow: 1;
  // }

  &-img {
    @include setImgWidth(100%);
  }

  &-top {
    position: relative;
    overflow: hidden;
    @include tablet {
      overflow: hidden;
    }
  }
  @include from(1025px) {
    img {
      transition: 0.25s ease-out;
    }
    &:hover img {
      transform: scale(1.05);
    }
  }

  &-bottom {
    --paddings-lrb: 50px; // lrb- left-right-bottom
    padding: 40px var(--paddings-lrb) var(--paddings-lrb);
    background-color: $light-grey;
    border: 1px solid $border-color;
    border-top: 0;
    flex-grow: 1;
    @include tablet {
      padding: 30px 35px;
    }
    @include mobile {
      padding: 25px 30px;
    }
  }

  &-date {
    margin-bottom: 20px;
    @include setFontStyle('Mont', 16px, 600, $date-color, 100%);
    @include tablet {
      font-size: 14px;
    }
    @include mobile {
      font-size: 12px;
      margin-bottom: 10px;
    }

    &.hidden {
      visibility: hidden;
    }
  }

  &-text {
    @include setFontStyle('Mont', 20px, 600, $dark-grey, 170%);
    @include tablet {
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
    }
    min-height: calc(1.7em * 3);
    // overflow: hidden;
    // text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.progress-card {
  @include baseFlexStyle(stretch, $flex-direction: column);
  cursor: pointer;

  @include tablet {
    margin-bottom: 40px;
  }
  &:last-child {
    @include tablet {
      margin-bottom: 0;
    }
  }
  &:hover {
    .progress-card__img {
      transform: scale(1.02);

      &-plus {
        opacity: 1;
      }
    }
  }

  &__img {
    @include setImgWidth(100%);
    transition: transform 0.5s ease-in-out;

    &-plus {
      @include abs-position();
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }

  &-top {
    position: relative;
    overflow: hidden;
  }

  &-bottom {
    padding: 30px 40px;
    background-color: $light-grey;
    border: 1px solid $border-color;
    border-top: 0;
    flex-grow: 1;
    @include baseFlexStyle(center, space-between);
    @include setFontStyle('Mont', 20px, 600, $dark-grey, 100%);
    @include tablet {
      font-size: 16px;
    }
    @include mobile {
      padding: 20px;
      font-size: 14px;
    }
  }
  &__numbers {
    display: flex;
  }

  &__numbers-info {
    @include baseFlexStyle(center);
    display: inline-flex;

    &:not(:last-child) {
      margin-right: 34px;
    }

    &::before {
      @include after-before-img('', 20px);
      margin-right: 10px;
    }

    &_video {
      &::before {
        background-image: url('../images/progress/video.svg');
      }
    }

    &_pages {
      &::before {
        background-image: url('../images/progress/pages.svg');
      }
    }
  }
}

.menu {
  position: fixed;
  @include width-heigth(100%);
  @include to(575px) {
    min-height: -webkit-fill-available;
  }
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 20;
  @include baseFlexStyle($justify-content: flex-end);
  visibility: hidden;
  opacity: 0;
  // transition: opacity 0.3s ease-in-out;
  @include multiple-transitions(0.3s, ease-in-out, opacity, visibility);

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
  }

  .menu-block {
    background-color: $light-grey;
    min-height: 100%;
    // max-width: var(--menu-call-block-max-width);
    // flex-shrink: ;
    flex: 0 0 var(--menu-call-block-max-width);
    padding: var(--header-tb-padding) var(--lr-paddings);
    padding-left: 0;
    // @include baseFlexStyle(flex-end, space-between, column);
    // @include baseGridStyle(repeat(3, auto), auto);
    // @include baseGridStyle(auto repeat(2, 1fr), auto);
    @include baseGridStyle(auto 1fr auto, auto);
    justify-content: flex-end;
    @include tablet {
      display: flex;
      flex-direction: column;
      padding: 15px 40px;
      width: 100%;
      min-height: auto;
      flex: auto;
      height: 100%;
      @include to(575px) {
        min-height: -webkit-fill-available;
      }
      justify-content: space-between;
    }
    @include mobile {
      padding: 10px 15px;
    }

    &__header {
      @include baseFlexStyle(center);

      @include tablet {
        justify-content: space-between;
      }

      & * {
        @include setFontStyle('Mont', 16px, 500, $dark-grey, 100%, 0.01em);
        @include mobile {
          font-size: 14px;
        }
        @include from(1025px) {
          transition: 0.3s ease-out;
          &:hover {
            color: $dark-violet;
          }
        }
        &:not(:last-child) {
          margin-right: 117px;
          @include mobile {
            margin-right: auto;
          }
        }
      }
    }
    &__call-btn {
      font-size: 14px;
      // @include tablet {
      //   display: none;
      // }
      @include mobile {
        font-size: 0;
        width: 45px;
        height: 45px;
        border: 1px solid $dark-violet;
        border-radius: 50%;
        margin-right: 15px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        &:after {
          content: '';
          width: 13px;
          height: 14px;
          background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.716 11.2538V13.3156C13.7167 13.507 13.6803 13.6964 13.6089 13.8718C13.5376 14.0472 13.4329 14.2046 13.3017 14.334C13.1705 14.4634 13.0156 14.5619 12.8469 14.6232C12.6782 14.6845 12.4994 14.7073 12.3221 14.6901C10.3544 14.4603 8.46441 13.7376 6.80382 12.5802C5.25885 11.5251 3.94899 10.1172 2.96725 8.45672C1.88661 6.66383 1.2141 4.62255 1.00421 2.49827C0.988235 2.30822 1.00925 2.11668 1.06592 1.93584C1.12259 1.755 1.21367 1.58883 1.33337 1.44789C1.45307 1.30696 1.59876 1.19436 1.76116 1.11726C1.92357 1.04016 2.09913 1.00025 2.27667 1.00007H4.19495C4.50527 0.996784 4.80611 1.11489 5.0414 1.33237C5.27669 1.54986 5.43038 1.85188 5.47381 2.18214C5.55477 2.84194 5.70493 3.48978 5.92141 4.11331C6.00744 4.35929 6.02606 4.62662 5.97506 4.88363C5.92406 5.14064 5.80558 5.37655 5.63366 5.5634L4.82159 6.43621C5.73185 8.15677 7.05732 9.58137 8.65815 10.5597L9.47023 9.6869C9.64408 9.50212 9.86357 9.37478 10.1027 9.31997C10.3418 9.26516 10.5906 9.28517 10.8194 9.37764C11.3996 9.6103 12.0023 9.77169 12.6162 9.85871C12.9268 9.90581 13.2105 10.074 13.4133 10.3312C13.6161 10.5884 13.7238 10.9168 13.716 11.2538Z' stroke='%234A3A5E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }

    &__close-btn {
      display: flex;
      cursor: pointer;
      &::after {
        // @include after-before-img('../images/footer/close-icon.svg', 70px, 70px);
        @include mobile {
          height: 45px;
          width: 45px;
          background-size: 45px 45px;
        }
      }
      @include mobile {
        height: 45px;
        width: 45px;
        background-size: 45px 45px;
      }
      .hover,
      .default {
        transition: 0.25s ease-out;
        transform-origin: center;
        transform-box: fill-box;
      }
      .default {
        transform: scale(1);
      }
      .hover {
        transform: scale(0);
        fill: $lavander;
      }
      @include from(1025px) {
        &:hover .hover {
          transform: scale(1);
        }
        &:hover .default {
          transform: scale(0);
        }
      }
    }

    &__content {
      @include baseFlexStyle(center);
    }

    &__element {
      &:not(:last-child) {
        margin-bottom: 30px;
        @include mobile {
          margin-bottom: 20px;
        }
      }
    }

    &__link {
      @include setFontStyle('Cormorant Garamond', 50px, 400, $headers-color, 100%, 0.01em);
      @include tablet {
        font-size: 40px;
      }
      @include mobile {
        font-size: 30px;
      }
    }
    &__link {
      position: relative;
      // line-height: 100%;
      overflow: hidden;
      display: block;

      @include from(1025px) {
        color: transparent;
        &:after {
          content: attr(data-text);
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          // color: green;
          transition: 0.25s ease-out;
          transform: translateY(-100%);
          color: $dark-violet;
          line-height: 110%;
          opacity: 0;
        }
        &:before {
          content: attr(data-text);
          position: absolute;
          // color: var(--color-white);
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          line-height: 110%;
          color: $headers-color;
          transition: 0.25s ease-out;
        }
        &:hover:before {
          transform: translateY(110%);
        }
        &:hover:after {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .lang-block {
      ul {
        display: flex;
        gap: 5px;
        a {
          color: $dark-grey;
        }
        li.active a {
          font-weight: bold;
        }
      }
    }
    &__footer {
      @include baseFlexStyle(center, space-between);
      @include setFontStyle('Mont', 14px, 400, $dark-grey, 100%, 0.01em);
    }

    &__soc-link {
      // @include setFontStyle('Mont', 14px, 400, $dark-grey, 100%, 0.01em);
      color: $dark-grey;
      @include tablet {
        font-size: 12px;
      }
      @include mobile {
        font-size: 10px;
      }

      &_insta {
        margin-left: 60px;
        @include mobile {
          margin-left: 40px;
        }
      }
    }

    &__lang-btn {
      // @include link-btns(70px, 70px, transparent, 14px, $headers-color);
      // border: ;
      @include slideBtns(rgba(74, 58, 94, 0.25));
      @include width-heigth(70px);
      border-width: 1px;
      text-transform: uppercase;
      @include mobile {
        width: 45px;
        height: 45px;
        font-size: 10px;
      }
    }
  }
}

.call {
  position: fixed;
  @include width-heigth(100%);
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 30;
  @include baseFlexStyle($justify-content: flex-end);
  visibility: hidden;
  opacity: 0;
  @include multiple-transitions(0.3s, ease-in-out, opacity, visibility);

  &.active {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
  }

  .call-block,
  .call-thanks-block {
    background-color: $light-grey;
    min-height: 100%;
    flex: 0 0 var(--menu-call-block-max-width);
    padding: var(--header-tb-padding) var(--lr-paddings);
    padding-left: 0;
    // @include baseGridStyle(auto 1fr, auto);
    @include baseGridStyle(auto 1fr, 1fr repeat(2, auto));
    justify-content: flex-end;
    @include multiple-transitions(0.5s, ease-in-out, opacity, visibility);
    @include tablet {
      padding: 15px 40px;
      display: flex;
      width: 100%;
      justify-content: flex-start;
      flex-direction: column;
      flex: 0 0 auto;
    }
    @include mobile {
      padding: 10px 15px;
    }

    &.active {
      // top: 100%;
      // visibility: visible;
      // opacity: 1;
      // animation: fadeIn 5s ease-in-out;
      transform: translateY(0);
    }

    &.hidden {
      visibility: hidden;
      opacity: 0;
      // display: none;
    }

    &__header {
      grid-column-start: 3;
      @include baseFlexStyle($justify-content: flex-end);
    }

    &__close-btn {
      display: flex;
      svg {
        width: 70px;
        height: 70px;
        .hover,
        .default {
          transition: 0.25s ease-out;
          transform-origin: center;
          transform-box: fill-box;
        }
        .default {
          transform: scale(1);
        }
        .hover {
          transform: scale(0);
          fill: $lavander;
        }
        @include mobile {
          height: 45px;
          width: 45px;
          background-size: 45px 45px;
        }
        @include from(1025px) {
          &:hover .hover {
            transform: scale(1);
          }
          &:hover .default {
            transform: scale(0);
          }
        }
      }
      // &::after {
      //   @include after-before-img('../images/footer/close-icon.svg', 70px, 70px);
      //   @include mobile {
      //     height: 45px;
      //     width: 45px;
      //     background-size: 45px 45px;
      //   }
      // }
    }

    &__content {
      grid-row-start: 2;
      grid-column-start: 2;
      max-width: 520px;
      @include baseFlexStyle($justify-content: center, $flex-direction: column);
      @include tablet {
        height: 50vh;
      }
      @include mobile {
        height: 80vh;
      }
    }

    &__header-text {
      margin-bottom: 60px;
      @include tablet {
        width: 50%;
      }
      @include mobile {
        margin-bottom: 30px;
      }
    }

    &__form {
      @include baseFlexStyle($flex-direction: column);
      width: 100%;
    }
    .form-field {
      width: 100%;
      position: relative;
      .input-message {
        margin-top: 0;
        color: red;
        margin-bottom: 7px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    &__input {
      @include resetInputStyles;
      padding-bottom: 10px;
      margin-bottom: 40px;
      border-bottom: 2px solid rgba(74, 58, 94, 0.15);
      width: 100%;
      @include setFontStyle('Mont', 16px, 400, $dark-grey, 170%, $text-transform: none);
      @include tablet {
        font-size: 14px;
      }
      @include mobile {
        margin-bottom: 30px;
        padding-bottom: 7px;
        font-size: 12px;
      }
    }

    &__checkbox {
      &-wrapper {
        margin-bottom: 60px;
        position: relative;
        .input-message {
          position: absolute;
          top: calc(100% + 10px);
          color: red;
        }
        @include baseFlexStyle(center);
        @include mobile {
          margin-bottom: 30px;
        }
      }

      & {
        @include width-heigth(25px);
        position: absolute;
        appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        @include mobile {
          height: 20px;
          width: 20px;
        }
        // &:checked + .call-block__checkbox-custom {
        //   // background: no-repeat center $dark-violet url('../images/call/ok.svg');
        //   background-color: tomato;
        // }
        // &:checked {
        //   background-color: tomato;
        // }
      }

      &:checked + .call-block__checkbox-custom {
        background: no-repeat center $dark-violet url('../images/call/ok.svg');
      }

      &-label {
        padding-left: 15px;
        @include setFontStyle('Mont', 12px, 500, $dark-grey, 100%, $text-transform: none);
        cursor: pointer;
      }

      &-custom {
        position: relative;
        // background: no-repeat center $dark-violet url('../images/call/ok.svg');
        border: 1px solid #4a3a5e;
        @include width-heigth(25px);
        pointer-events: none;
      }
    }

    &__submit {
      display: flex;
      [data-btn-submit-text] {
        display: none;
      }
      svg {
        width: 110px;
        height: 110px;
        .hover,
        .default {
          transition: 0.25s ease-out;
          transform-origin: center;
          transform-box: fill-box;
        }
        .default {
          transform: scale(1);
        }
        .hover {
          transform: scale(0);
          fill: $lavander;
        }
        @include mobile {
          height: 80px;
          width: 80px;
        }
        @include from(1025px) {
          &:hover .hover {
            transform: scale(1);
          }
          &:hover .default {
            transform: scale(0);
          }
        }
      }
      // &::before {
      //   @include after-before-img('../images/call/submit.svg', 110px);
      //   @include mobile {
      //     width: 80px;
      //     height: 80px;
      //     background-size: 80px 80px;
      //   }
      // }
      // @include slideBtns($background: );
    }

    /* THANKS BLOCK */
    // .call-thanks-header {
    //   margin-bottom: 40px;
    // }

    &__text {
      // &-wrapper {
      //   margin-bottom: 84px;
      // }

      &-header {
        margin-bottom: 40px;
      }

      & {
        @include setFontStyle('Mont', 16px, 400, $text-color, 170%, $text-transform: none);
      }
    }
  }

  .call-thanks-block {
    // background-color: tomato;
    grid-template: repeat(2, auto) 1fr/1fr repeat(2, auto);
    // visibility: hidden;
    // opacity: 0;
    position: absolute;
    transform: translateY(-100%);
    // display: none;

    &__content {
      margin-top: 96px;
      @include tablet {
        margin-top: 0;
      }
      @include mobile {
        margin-top: 0;
        height: 55vh;
      }
    }

    &__img {
      grid-column: 1 / 4;
      grid-row-start: 4;
      max-width: 100%;
      @include mobile {
        transform: translateX(calc(var(--lr-paddings) * -1));
      }
    }
  }
}

.lr-paddings {
  padding: 0 var(--lr-paddings);
}

.white-btn-link,
.violet-btn-link {
  --btn-link-width: 270px;
  --btn-link-height: 70px;
  --btn-link-font-size: 14px;
  @include mobile {
    --btn-link-width: 170px;
    --btn-link-height: 45px;
    --btn-link-font-size: 10px;
  }
}

.white-btn-link {
  @include link-btns(
    var(--btn-link-width),
    var(--btn-link-height),
    transparent,
    var(--btn-link-font-size),
    $dark-violet,
    400,
    1px solid $dark-violet
  );
}

.violet-btn-link {
  @include link-btns(
    var(--btn-link-width),
    var(--btn-link-height),
    $dark-violet,
    var(--btn-link-font-size),
    $white-color,
    400,
    none
  );
  @include from(1025px) {
    transition: 0.25s ease-out;
    &:hover {
      background-color: $light-lavander;
    }
  }
}

.gallery-pop-up {
  position: fixed;
  @include width-heigth(100%);
  background-color: $light-grey;
  top: 0;
  z-index: 30;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  @include multiple-transitions(0.3s, ease-in-out, opacity, visibility);
  padding: 50px var(--lr-paddings);
  @include baseGridStyle(auto, repeat(24, 1fr));

  &.active {
    visibility: visible;
    opacity: 1;

    @include tablet {
      display: none;
    }
  }

  .pop-up {
    &-content {
      grid-column: 3 / 23;
      overflow-x: hidden;
      height: 100%;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-main-slide {
      margin-bottom: 30px;

      .slide-img {
        @include setImgWidth(100%);
        object-fit: contain;
        // max-height: 760px;
        /*Верхний паддинг контейнера, нижний паддинг контейнера, высота нижней панели навигации, отступ основного слайдера от панели навигации*/
        height: calc(100vh - 50px - 50px - 80px - 30px);
      }

      .swiper-gallery {
        &__slide {
          &:not(:first-child) {
            // margin-left: 30px;
          }
        }
      }
    }

    // .swiper {
    //   &-wrapper {
    //     height: auto;
    //   }

    //   &-slide {
    //     &:not(:first-child) {
    //       margin-left: 30px;
    //     }
    //   }
    // }

    &-slides {
      @include baseFlexStyle(center, center);

      .slide-img {
        // margin-top: 30px;
        // @include setImgWidth(140px);
        width: 100%;
        object-fit: cover;
        height: 100%;
        cursor: pointer;

        &:not(:first-child) {
          margin-left: 30px;
        }
      }

      &__content {
        @include baseFlexStyle();
        flex-wrap: nowrap;
        // max-width: 1000px;
        height: 80px;
        // overflow-x: hidden;
      }
      .swiper-slide {
        opacity: 0.75;
        transition: opacity 0.5s ease-out;
        &:hover {
          opacity: 1;
        }
      }
      .swiper-slide-thumb-active {
        opacity: 1;
      }
    }

    &__btn-wrapper {
      grid-column-end: 25;
    }

    &__close-btn {
      @include baseFlexStyle();
      margin-left: auto;

      // &::before {
      //   @include after-before-img('../images/footer/close-icon.svg', 70px, 70px);

      // }
      svg {
        width: 70px;
        height: 70px;
        .hover,
        .default {
          transition: 0.25s ease-out;
          transform-origin: center;
          transform-box: fill-box;
        }
        .default {
          transform: scale(1);
        }
        .hover {
          transform: scale(0);
          fill: $lavander;
        }
        @include mobile {
          height: 45px;
          width: 45px;
          background-size: 45px 45px;
        }
        @include from(1025px) {
          &:hover .hover {
            transform: scale(1);
          }
          &:hover .default {
            transform: scale(0);
          }
        }
      }
    }
  }
}

.progress-pop-up {
  position: fixed;
  @include width-heigth(100%);
  background-color: $light-grey;
  top: 0;
  left: 0;
  z-index: 30;
  // overflow-y: auto;
  // padding-bottom: var(--top-padding);
  visibility: hidden;
  opacity: 0;
  @include multiple-transitions(0.3s, ease-in-out, opacity, visibility);
  // padding: 50px var(--lr-paddings);
  // padding: 0 var(--lr-paddings);
  // @include baseGridStyle(
  //   var(--top-padding) repeat(4, auto) var(--top-padding),
  //   var(--lr-paddings) repeat(24, minmax(var(--popular-indent), 1fr)) var(--lr-paddings)
  // );
  @include baseGridStyle(
    var(--top-padding) repeat(4, auto) var(--top-padding),
    var(--lr-paddings) repeat(24, minmax(var(--popular-indent), 1fr)) var(--lr-paddings)
  );

  overflow-x: hidden;
  @include tabletLarge {
    grid-template:
      var(--top-padding) repeat(4, auto) var(--top-padding) / var(--lr-paddings) repeat(
        21,
        minmax(var(--popular-indent), 1fr)
      )
      var(--lr-paddings);
  }
  @include to(1360px) {
    @include baseGridStyle(
      var(--top-padding) repeat(4, auto) var(--top-padding),
      var(--lr-paddings) repeat(21, 1fr) var(--lr-paddings)
    );
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 40px;
  }
  @include mobile {
    padding: 10px 15px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .pop-up {
    // &-content {
    //   // @include baseFlexStyle($justify-content: space-between);
    // }

    &__left-side {
      grid-column: 1 / 9;
      grid-row: 1 / -1;
      // background-color: $dark-violet;
      box-shadow: 7px 0 25px rgba(56, 56, 56, 0.07);
      background-color: $light-grey;
      z-index: 10;
    }

    // &__text-content {
    //   grid-column: 2 / 7;
    //   grid-row: 3 / 4;
    //   overflow-y: scroll;
    // }

    // &__text-wrapper {
    //   overflow-y: scroll;
    // }

    // &__right-side {
    //   grid-column: 9 / -1;
    //   grid-row: 3 / 4;
    // }

    &__btn-wrapper {
      // @include baseFlexStyle($justify-content: flex-end);
      margin-bottom: 30px;
      grid-column-end: 26;
      grid-row-start: 2;
      @include baseFlexStyle($justify-content: flex-end);
      @include tabletLarge {
        grid-column-end: 23;
      }
      @include mobile {
        margin-bottom: 20px;
      }
    }

    &__close-btn {
      @include baseFlexStyle();
      width: 70px;
      height: 70px;
      cursor: pointer;
      @include mobile {
        height: 45px;
        width: 45px;
      }
      .hover,
      .default {
        transition: 0.25s ease-out;
        transform-origin: center;
        transform-box: fill-box;
      }
      .default {
        transform: scale(1);
      }
      .hover {
        transform: scale(0);
        fill: $lavander;
      }
      @include from(1025px) {
        &:hover .hover {
          transform: scale(1);
        }
        &:hover .default {
          transform: scale(0);
        }
      }
      svg {
      }
      // &::before {
      //   @include after-before-img('../images/footer/close-icon.svg', 70px, 70px);
      //   @include mobile {
      //     height: 45px;
      //     width: 45px;
      //     background-size: 45px 45px;
      //   }
      // }
    }

    &__header {
      grid-column: 2 / 8;
      grid-row: 3 / 4;
      margin-bottom: 30px;
      z-index: 10;
      @include mobile {
        margin-bottom: 20px;
      }

      &-month {
        @include setFontStyle('Cormorant Garamond', 50px, 300, $headers-color, 100%, 0.01em);
        margin-right: 15px;
        @include notebook {
          font-size: 36px;
        }
        @include tablet {
          font-size: 40px;
        }
        @include mobile {
          font-size: 30px;
        }
      }

      &-year {
        @include setFontStyle('Nanum', 42px, 400, $headers-color, 100%, 0.01em);
        @include notebook {
          font-size: 36px;
        }
        @include tablet {
          font-size: 40px;
        }
        @include mobile {
          font-size: 30px;
        }
      }
    }

    &__text-wrapper {
      overflow-y: auto;
      grid-row: 4 / 5;
      grid-column: 2 / 8;
      padding-right: 30px;
      @include setFontStyle('Mont', 16px, 400, $text-color, 160%, $text-transform: none);
      z-index: 10;
      @include tablet {
        font-size: 14px;
        margin-bottom: 20px;
      }
      @include mobile {
        // height: 40%;
        font-size: 12px;
        margin-bottom: 15px;
      }

      &::-webkit-scrollbar {
        cursor: none;

        & {
          appearance: none;
          width: 2px;
        }

        &-track {
          background-color: rgba(74, 58, 94, 0.15);
        }

        &-thumb {
          background-color: $dark-violet;
        }
      }
    }

    &__slider {
      grid-row: 3 / 5;
      grid-column: 10 / -2;
      overflow: hidden;
      // overflow: hidden;

      // &-wrapper {
      //   max-height: 670px;
      // }

      &-slide {
        overflow-x: hidden;

        // &:not(:first-child) {
        //   margin-left: 60px;
        // }

        &_video {
          position: relative;
        }
      }

      &-img,
      &-video {
        // @include setImgWidth(100%);
        // max-height: 670px;
        // @include setImgHeight(100%);
        @include width-heigth(100%, 670px);
        object-fit: cover;
        vertical-align: middle;
        // position: absolute;
        // object-fit: cover;
        @include tabletLarge {
          height: 500px;
        }
        @include tablet {
          height: 412px;
        }
        @include mobile {
          height: 216px;
        }
      }

      &-btn-wrapper {
        grid-row: 5 / 6;
        grid-column: 10 / -2;
        @include baseFlexStyle(center, center);
        margin-top: 30px;
        position: relative;
      }

      &-btn {
        @include width-heigth(70px);
        @include slideBtns(rgba(74, 58, 94, 0.15));
        @include mobile {
          height: 45px;
          width: 45px;
          background-size: 45px 45px;
          border: 1px solid rgba(74, 58, 94, 0.15);
        }
        @include from(1025px) {
          transition: 0.3s ease-out;
          &:hover {
            background-color: $light-lavander;
            border-color: $light-lavander;
          }
        }
      }

      &-play {
        @include abs-position();
        @include mobile {
          width: 45px;
          height: 45px;
        }
      }
    }

    &__element {
      margin-top: 10px;
      @include baseFlexStyle();

      &::before {
        content: '/';
        margin-right: 23px;
      }
    }

    &__slide-num {
      // position: relative;
      margin: 0 40px;
      @include setFontStyle('Mont', 22px, 400, $dark-grey, 100%);
      @include tablet {
        font-size: 14px;
        margin: 0 20px;
      }
      @include mobile {
        font-size: 12px;
        margin: 0 10px;
      }
    }

    &__slider-btn-img {
      @include mobile {
        height: 10px;
        width: 5px;
      }
    }

    &__hidden-content {
      grid-row: 6 / -1;
      grid-column: 1 / -1;
      visibility: hidden;
    }
  }
}

.swiper-pagination-fraction {
  // bottom: 0;
  position: static;
  width: 50px;
}

.slider {
  &-controller {
    @include baseFlexStyle(center, center);
    border-radius: 50%;
    background-color: $dark-violet;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    // @include width-heigth(0);
    @include width-heigth(110px);
    @include multiple-transitions(0.5s, ease-out, transform, opacity);
    transform: scale(0);

    &.active {
      transform: scale(1);
      opacity: 1;
    }

    &.left-side {
      .slider-controller-arrow {
        order: -1;
        transform: rotate(180deg);
      }
    }

    &-text {
      @include setFontStyle('Mont', 22px, 400, $light-grey, 100%);
      min-width: 55px;
    }

    &-arrow {
      @include setImgWidth(10px);
      order: 1;
      transition: 0.6s ease-in-out transform;
    }
  }
}
