@mixin font-face($font-family, $url, $weight: normal, $style: normal, $asset-pipeline: false) {
  @font-face {
    font-family: '#{$font-family}';
    font-weight: #{$weight};
    font-style: '#{$style}';

    src: url('#{$url}.eot');
    src: url('#{$url}.eot?#iefix') format('embedded-opentype'), url('#{$url}.woff') format('woff'),
      url('#{$url}.ttf') format('truetype');
  }
}

@mixin font-face-one-type(
  $font-family,
  $url,
  $type,
  $weight: normal,
  $style: normal,
  $asset-pipeline: false
) {
  @font-face {
    font-family: '#{$font-family}';
    font-weight: #{$weight};
    font-style: '#{$style}';

    $format: '';

    @if $type == 'ttf' {
      $format: 'truetype';
    } @else if $type == 'eot' {
      $format: 'embedded-opentype';
    } @else if $type == 'woff' {
      $format: 'woff';
    }
    src: url('#{$url}.#{$type}') format($format);
  }
}

// Function for converting a px based font-size to rem.
@function rem($size) {
  $remSize: $size / 14px;
  @return #{$remSize}rem;
}

@mixin toh($max_height) {
  @media screen and (max-height: $max_height) {
    @content;
  }
}

@mixin resetLinkStyles {
  text-decoration: none;
  text-transform: uppercase;
}

@mixin resetBtnStyles {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

@mixin resetInputStyles {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  font: inherit;
}

@mixin after-before-img($url, $width, $height: $width) {
  content: '';
  background-image: url($url);
  background-size: $width $height;
  display: inline-block;
  width: $width;
  height: $height;
}

@mixin baseFlexStyle($align-items: flex-start, $justify-content: flex-start, $flex-direction: row) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin baseGridStyle($rows, $columns) {
  display: grid;
  grid-template: $rows / $columns;
}

@mixin setImgWidth($width) {
  width: $width;
  height: auto;
  object-fit: cover;
}

@mixin setImgMaxWidth($width) {
  max-width: $width;
  height: auto;
  object-fit: cover;
}

@mixin setImgHeight($height) {
  width: auto;
  height: $height;
  object-fit: cover;
}

@mixin width-heigth($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin setFontStyle(
  $font-family,
  $font-size,
  $font-weight,
  $color,
  $line-height: initial,
  $letter-spacing: initial,
  $text-transform: uppercase
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
}

@mixin link-btns(
  $width,
  $height,
  $bgcolor,
  $font-size,
  $color: $white-color,
  $font-weight: 600,
  $border: none,
  $border-radius: 100px
) {
  width: $width;
  height: $height;
  background-color: $bgcolor;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: 100%;
  text-transform: uppercase;
  color: $color;
  @include baseFlexStyle(center, center);
  text-decoration: none;
  border: $border;
  outline: none;
  cursor: pointer;
  border-radius: $border-radius;
}

@mixin slideBtns($border-color: transparent, $background: transparent) {
  border-radius: 50%;
  border: 2px solid $border-color;
  background: $background;
}

@mixin multiple-transitions($duration, $timing-func, $properties...) {
  $transition-property: '';
  @for $i from 1 through length($properties) {
    @if ($i == length($properties)) {
      $transition-property: #{$transition-property + nth($properties, $i)};
    } @else {
      $transition-property: #{$transition-property + nth($properties, $i) + ', '};
    }
  }
  transition-property: $transition-property;
  transition-duration: $duration;
  transition-timing-function: $timing-func;
}

@mixin grid-card-content(
  $rows: minmax(340px, 1fr),
  $columns: repeat(3, 1fr),
  $auto-rows: 340px,
  $gap: 60px
) {
  @include baseGridStyle($rows, $columns);
  grid-auto-rows: minmax($auto-rows, 1fr);
  grid-gap: $gap;
}

@mixin abs-position($top: 50%, $left: 50%, $transform: translate(-$top, -$left)) {
  position: absolute;
  top: $top;
  left: $left;
  transform: $transform;
}

@mixin linksHover() {
  position: relative;
  // line-height: 100%;
  overflow: hidden;
  display: block;

  @include from(1025px) {
    color: transparent;
    &:after {
      content: attr(data-text);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // color: green;
      transition: 0.25s ease-out;
      transform: translateY(-100%);
      color: $dark-violet;
      line-height: 110%;
      opacity: 0;
    }
    &:before {
      content: attr(data-text);
      position: absolute;
      // color: var(--color-white);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      line-height: 110%;
      color: $headers-color;
      transition: 0.25s ease-out;
    }
    &:hover:before {
      transform: translateY(110%);
    }
    &:hover:after {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@mixin hoverSvg {
  .hover,
  .default {
    transition: 0.25s ease-out;
    transform-origin: center;
    transform-box: fill-box;
  }
  .default {
    transform: scale(1);
  }
  .hover {
    transform: scale(0);
    fill: $lavander;
  }
  @include from(1025px) {
    &:hover .hover {
      transform: scale(1);
    }
    &:hover .default {
      transform: scale(0);
    }
  }
}
