// Colors
$white-color: #ffffff;
$greyBg: #e5e5e5;
$dark-violet: #4a3a5e;
$lavander: #9c91c5;
$light-lavander: #9885b5;
$dark-grey: #4a4a49;
$light-grey: #f9f8fc;
$headers-color: #1f1f1f;
$headers-color-two: #303030;
$text-color: #8a8a8a;
$stocks-color: #313131;
$border-color: #bbbbbb;
$date-color: #919191;
$copyright-color: #dedede;
$table-p-color: #efefef;
$grey-link-btn: #7f738e;
$bottom-footer-text: #b8b1ba;
$text-color-404: #2d2d2d;

$fresh-green: #9cff00;
$hover-fresh-green: #9dff009e;

//Fonts
$default-font: 'Mont';
