.footer {
  // --aside-width: 568px;
  // --footer-min-height: 860px;
  // @include baseGridStyle(auto, var(--aside-width) calc(100vw - var(--aside-width)));
  // min-height: var(--footer-min-height);
  // display: grid;
  // grid-template: repeat(10, auto) / repeat(5, auto);
  display: flex;
  width: 100%;
  justify-content: space-between;
  @include tablet {
    flex-direction: column;
  }

  &-menu {
    background-color: $light-lavander;
    padding: 172px 0 48px 120px;
    width: 30%;
    @include baseFlexStyle(flex-start, space-between, column);
    // @include baseGridStyle(172px auto 48px, 120px auto);
    // align-self: center;
    // padding-left: 120px;
    // padding: 172px 0 48px 120px;
    @include tabletLarge {
      padding: 120px 80px 40px 80px;
    }
    @include notebook {
      padding: 80px 40px 40px 40px;
    }
    @include tablet {
      padding: 80px 40px;
      width: 100%;
    }
    @include mobile {
      padding: 40px 15px;
    }
  }

  &-element {
    &:not(:last-child) {
      margin-bottom: 30px;
      @include mobile {
        margin-bottom: 15px;
      }
    }
  }

  &-link {
    @include setFontStyle('Mont', 28px, 500, $light-grey, 130%);
    @include mobile {
      font-size: 18px;
    }
  }
  &-link {
    position: relative;
    // line-height: 100%;
    overflow: hidden;
    display: block;

    @include from(1025px) {
      color: transparent;
      &:after {
        content: attr(data-text);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // color: green;
        transition: 0.25s ease-out;
        transform: translateY(-100%);
        color: $dark-violet;
        line-height: 110%;
        opacity: 0;
      }
      &:before {
        content: attr(data-text);
        position: absolute;
        // color: var(--color-white);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 110%;
        color: $white-color;
        transition: 0.25s ease-out;
      }
      &:hover:before {
        transform: translateY(110%);
      }
      &:hover:after {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @include to(575px) {
      line-height: 140%;
    }
  }
  &-copyright {
    @include setFontStyle('Mont', 13px, 500, $copyright-color, 140%, $text-transform: none);
    @include tablet {
      display: none;
    }
  }
  &-copyright-mobile {
    display: none;
    @include setFontStyle('Mont', 13px, 500, $copyright-color, 140%, $text-transform: none);
    @include tablet {
      display: block;
      margin-top: 30px;
    }
    @include mobile {
      margin-top: 20px;
      font-size: 10px;
      color: $bottom-footer-text;
    }
  }

  // &-list,
  // &-copyright {
  //   grid-column-start: 2;
  // }

  // &-list {
  //   grid-row-start: 2;
  // }

  // &-copyright {
  //   grid-row-end: 3;
  // }

  &-content {
    background-color: $dark-violet;
    position: relative;
    // padding: 172px 120px 48px 132px;
    // @include baseFlexStyle(flex-end, space-between, column);
    padding: 172px 120px 48px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    width: 70%;
    // padding-left: 132px;
    @include tabletLarge {
      padding: 120px 80px 40px 80px;
    }
    @include notebook {
      padding: 80px 40px 40px 40px;
    }
    @include tablet {
      padding: 80px 40px;
      width: 100%;
    }
    @include mobile {
      display: flex;
      padding: 60px 15px;
      flex-direction: column;
      padding-bottom: 27px;
    }
  }

  &-table {
    @include setFontStyle('Mont', 20px, 500, $light-grey, 170%, $text-transform: none);
  }
  &-row-wrap {
    display: flex;
    width: 85%;
    border-bottom: 1px solid rgba(127, 115, 142, 0.5);
    @include tablet {
      border-bottom: none;
    }
  }

  &-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 40px;
    @include tablet {
      flex-direction: column;
      padding-bottom: 80px;
    }
    @include mobile {
      padding-bottom: 60px;
    }
  }

  &-cell {
    vertical-align: top;
    @include tablet {
      width: 100%;
    }

    &:nth-child(1) {
      width: 20%;
      margin-right: 98px;
      @include notebook {
        margin-right: 20px;
      }
      @include tablet {
        width: 100%;
      }
    }

    &:nth-child(2) {
      width: 30%;
      margin-right: 80px;
      @include tablet {
        width: 100%;
      }
    }

    &:nth-child(3) {
      width: fit-content;
      @include tablet {
        width: 100%;
        margin-top: 40px;
      }
      @include mobile {
        margin-top: 20px;
      }
    }

    &__name {
      text-transform: uppercase;
      @include tablet {
        font-size: 20px;
        margin-bottom: 20px;
      }

      @include mobile {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    &__address {
      @include tablet {
        font-size: 22px;
        margin-top: 10px;
      }
      @include mobile {
        font-size: 16px;
      }
    }
    &__schedule {
      margin-top: 20px;
      @include tablet {
        font-size: 22px;
        margin-top: 10px;
      }
      @include mobile {
        font-size: 16px;
      }
    }

    table p:not(&__name) {
      font-weight: 400;
      font-size: 22px;
      color: $table-p-color;
    }

    // &__schedule {
    //   padding-top: 20px;
    // }

    &__map {
      @include link-btns(270px, 70px, $grey-link-btn, 14px, $light-grey);
      @include mobile {
        @include link-btns(170px, 45px, $grey-link-btn, 10px, $light-grey);
      }
      transition: 0.25s ease-out;
      @media screen and (min-width: 1025px) {
        &:hover {
          background-color: $white-color;
          color: $dark-violet;
        }
      }
    }

    &__tel-wrapper {
      @include baseFlexStyle($flex-direction: column);
      @include tablet {
        margin-bottom: 20px;
      }
      @include mobile {
        margin-bottom: 10px;
      }
    }

    &__call-btn {
      @include link-btns(270px, 70px, $light-grey, 14px, $headers-color);
      font-family: 'Mont';
      @include mobile {
        @include link-btns(170px, 45px, $light-grey, 10px, $headers-color);
      }
      transition: 0.25s ease-out;
      @media screen and (min-width: 1025px) {
        &:hover {
          background-color: $light-lavander;
          color: $white-color;
        }
      }
    }
    &__soc-netw {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 300px;
      @include tablet {
        justify-content: flex-start;
      }
    }
    &__contacts {
      padding-top: 20px;
      @include tablet {
        padding-top: 0;
      }
    }

    // &__soc-netw {
    //   @include baseFlexStyle($justify-content: space-between);
    // }

    &__insta {
      // margin-left: 60px;
    }
  }

  &-to-top {
    @include slideBtns($background: $grey-link-btn);
    border: none;
    @include width-heigth(70px);
    position: absolute;
    top: 172px;
    right: 120px;
    @include tabletLarge {
      top: 120px;
      right: 80px;
    }
    @include notebook {
      top: 80px;
      right: 40px;
    }
    @include tablet {
      top: 80px;
      right: 40px;
    }
    @include mobile {
      top: 60px;
      right: 15px;
      height: 45px;
      width: 45px;
    }
    @include from(1025px) {
      transition: 0.25s ease-out;
      transform-origin: center;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &-top-arrow {
    @include width-heigth(12px, 6px);
  }

  &-bottom {
    @include baseFlexStyle(flex-end, space-between);
    @include tablet {
      align-items: flex-start;
      height: 50px;
    }
    @include mobile {
      height: auto;
    }

    &__text {
      @include setFontStyle('Mont', 13px, 600, $bottom-footer-text, 140%, $text-transform: none);
      @include mobile {
        @include setFontStyle('Mont', 10px, 600, $bottom-footer-text, 140%, $text-transform: none);
      }
    }

    &__link {
      width: 78px;
      display: block;
      transform: translateY(80px);
      transform: translateY(40px);
      transition: all ease-in-out 0.3s;

      @include from(1361px) {
        transform: translateY(120px);
        transform: translateY(40px);
      }
      @include from(1921px) {
        transform: translateY(50px);
      }
      @include tablet {
        transform: translateY(40px);
      }
      @include mobile {
        transform: translateY(50px);
      }
      &:hover {
        transform: translateY(0);
      }
    }

    &__img {
      @include setImgWidth(78px);
      position: relative;
      @include mobile {
        width: 51px;
      }
      // transform: translateY(80px);
    }
  }

  &-table-link {
    width: 50%;
    @include setFontStyle('Mont', 22px, 400, $table-p-color, 170%, $text-transform: none);
    @include mobile {
      @include setFontStyle('Mont', 16px, 400, $table-p-color, 170%, $text-transform: none);
    }
    @include from(1025px) {
      transition: 0.25s ease-out;
      &:hover {
        color: $light-lavander;
      }
    }
  }

  &-table-link.footer-cell__tel {
    min-width: max-content;
    width: 100%;
  }

  .pb {
    padding-bottom: 40px;
  }

  .pt {
    padding-top: 60px;
    @include tablet {
      padding-top: 0;
    }
  }
}
